<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Java Selenium Exercise">
    
    <listeners>
       <listener class-name="exercise.listeners.CustomListeners"/>
  </listeners>
    
    
	<test name="Amazon Uk Shopping Test">
		<classes>
			<class name="exercise.testcases.AmazonUKShoppingTest" />
		</classes>
	</test> <!-- Test -->

	
</suite> <!-- Suite -->
